{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="border-bottom">
                <h1 class="display-4 pt-5">
                    Cabañas
                </h1>
            </div>
        </div>
    </div>

	<div class="row pt-4">

		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="images/image1.jpeg" alt="Card image cap" width="286" height="180">
			  <div class="card-body">
			    <h5 class="card-title">Casa</h5>
			    <p class="card-text">
					<ul>
					  <li>Cras justo odio</li>
					  <li>Dapibus ac facilisis in</li>
					  <li>Morbi leo risus</li>
					  <li>Porta ac consectetur ac</li>
					  <li>Vestibulum at eros</li>
					</ul>
			    </p>
			    <a href="house.html" class="btn btn-primary">Ver galer&iacute;a</a>
			  </div>
			</div>
		</div><!-- /.col-lg-4 -->
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="https://via.placeholder.com/286x180" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Cabaña New</h5>
			    <p class="card-text">
					<ul>
					  <li>Cras justo odio</li>
					  <li>Dapibus ac facilisis in</li>
					  <li>Morbi leo risus</li>
					  <li>Porta ac consectetur ac</li>
					  <li>Vestibulum at eros</li>
					</ul>
			    </p>
			    <a href="#" class="btn btn-primary">Ver galer&iacute;a</a>
			  </div>
			</div>
		</div><!-- /.col-lg-4 -->
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="https://via.placeholder.com/286x180" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Cabaña 2</h5>
			    <p class="card-text">
					<ul>
					  <li>Cras justo odio</li>
					  <li>Dapibus ac facilisis in</li>
					  <li>Morbi leo risus</li>
					  <li>Porta ac consectetur ac</li>
					  <li>Vestibulum at eros</li>
					</ul>
			    </p>
			    <a href="#" class="btn btn-primary">Ver galer&iacute;a</a>
			  </div>
			</div>
		</div><!-- /.col-lg-4 -->
	</div>
{% endblock %}