{% extends "layout.html" %}

{% block content %}
<!-- Contact Form -->
<!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<div class="row mt-3 pt-5">
<div class="col-md-8 offset-md-2 mt-3">
  <h3>Envianos tu Mensaje o consulta...</h3>
  <form name="sentMessage" id="contactForm" novalidate>
    <div class="control-group form-group">
      <div class="controls">
        <label>Nombre Completo:</label>
        <input type="text" class="form-control" id="name" required data-validation-required-message="Por favor ingrese su nombre completo.">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <label>N&uacute;mero de Tel&eacute;fono:</label>
        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Por favor ingrese su n&uacute;mero de Tel&eacute;fono.">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <label>Direcci&oacute;n de Email:</label>
        <input type="email" class="form-control" id="email" required data-validation-required-message="Por favor ingrese su direcci&oacute;n de email.">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <label>Mensaje:</label>
        <textarea rows="7" cols="100" class="form-control" id="message" required data-validation-required-message="Por favor ingrese su mensaje." maxlength="999" style="resize:none"></textarea>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div id="success"></div>
    <!-- For success/fail messages -->
    <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar Mensaje</button>
  </form>
</div>
 {% endblock %}
{% block js %}
	{{ super() }}
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
{% endblock %}