{% extends "layout.html" %}

{% block content %}
<div class="row pt-5">
	<div class="col-md-8 offset-md-2 mt-3">
		<h3>Envianos tu Mensaje o consulta...</h3>
		<form name="sentMessage" id="contactForm" novalidate>
		  <div class="form-group row">
		    <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="name" placeholder="Nombre / Compañia" required data-validation-required-message="Por favor ingrese su nombre o compañia">
		      <p class="help-block text-danger"></p>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="inputPhone" class="col-sm-2 col-form-label">Telefono:</label>
		    <div class="col-sm-10">
		      <input type="tel" class="form-control" id="phone" placeholder="Ej: 0358-4646468" required data-validation-required-message="Por favor ingrese su número de telefono">
		      <p class="help-block text-danger"></p>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="email" placeholder="Email" required data-validation-required-message="Por favor ingrese su enail">
		      <p class="help-block text-danger"></p>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="inputEmail" class="col-sm-2 col-form-label">Mensaje:</label>
		    <div class="col-sm-10">
			<textarea rows="10" cols="100" class="form-control" id="message" required="" data-validation-required-message="Por favor ingrese su mensaje" maxlength="999" style="resize:none">
			</textarea>
			<p class="help-block text-danger"></p>
		  </div>
		  <div class="form-group row">
		    <div class="col-sm-10">
		      <button type="submit" class="btn btn-primary">Enviar</button>
		    </div>
		  </div>
		</form>

	</div>	
</div>
{% endblock %}
{% block js %}
	{{ super() }}
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
{% endblock %}