{% extends "layout.html" %}

{% block stylesheet %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" media="all" href="css/jgallery.min.css?v=1.6.4" />
{% endblock %}

{% block content %}
    <div class="row pt-3">
        <div class="col-12 col-sm-12">
            <div class="border-bottom">
                <div class="pb-2 mt-3 mb-2 pt-5">
                    <h3>Casa 110 M<sup>2</sup></h3>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-12">
			<div id="gallery">
			    <a href="images/casa/casa1.jpg"><img src="images/casa/casa1.jpg" alt="Photo 1" /></a>
			    <a href="images/casa/casa2.jpg"><img src="images/casa/casa2.jpg" alt="Photo 2" /></a>
			    <a href="images/casa/casa3.jpg"><img src="images/casa/casa3.jpg" alt="Photo 3" /></a>
			    <a href="images/casa/casa4.jpg"><img src="images/casa/casa4.jpg" alt="Photo 4" /></a>
			    <a href="images/casa/casa5.jpg"><img src="images/casa/casa5.jpg" alt="Photo 5" /></a>
			    <a href="images/casa/casa6.jpg"><img src="images/casa/casa6.jpg" alt="Photo 6" /></a>
			    <a href="images/casa/casa7.jpg"><img src="images/casa/casa7.jpg" alt="Photo 7" /></a>
			    <a href="images/casa/casa8.jpg"><img src="images/casa/casa8.jpg" alt="Photo 8" /></a>
			    <a href="images/casa/casa9.jpg"><img src="images/casa/casa9.jpg" alt="Photo 9" /></a>
			    <a href="images/casa/casa10.jpg"><img src="images/casa/casa10.jpg" alt="Photo 10" /></a>
			    <a href="images/casa/casa11.jpg"><img src="images/casa/casa11.jpg" alt="Photo 11" /></a>
			    <a href="images/casa/casa12.jpg"><img src="images/casa/casa12.jpg" alt="Photo 12" /></a>
			    <a href="images/casa/casa13.jpg"><img src="images/casa/casa13.jpg" alt="Photo 13" /></a>
			</div>
		</div>

	</div>

{% endblock %}
{% block js %}
	{{ super() }}
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/jgallery.min.js?v=1.6.4"></script>
	<script>
		$( function(){
		    $( "#gallery" ).jGallery( {
		        "transition":"moveToLeft_moveFromRight",
		        "transitionCols":"1",
		        "transitionRows":"1",
		        "thumbnailsPosition":"bottom",
		        "thumbType":"image",
		        "backgroundColor":"#ffffff",
		        "textColor":"#000000",
		        "mode":"standard"
		    } );
		} );
	</script>
{% endblock %}