{% extends "layout.html" %}

{% block content %}
<div class="row pt-3">
    <div class="col-12 col-sm-12">
        <div class="border-bottom">
            <div class="pb-2 mt-3 mb-2 pt-5">
                <h3>Ubicaci&oacute;n</h3>
            </div>
        </div>
    </div>
</div>

<div class="row pt-5">
	<div class="col-md-8 offset-md-2 mt-3">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d845.2873959789779!2d-64.5495852!3d-32.0652027!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4011e495279b7bd4!2sCaba%C3%B1as+Siete+Colores!5e0!3m2!1ses-419!2sar!4v1545092550680" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
{% endblock %}