{% extends "layout.html" %}

{% block content %}
    <div class="row pt-3">
        <div class="col-12 col-sm-12">
            <div class="border-bottom">
                <div class="pb-2 mt-3 mb-2 pt-5">
                    <h3 class="text-light">Preguntas frecuentes</h3>
                </div>
            </div>
        </div>
    </div>

<div class="row pt-5">
	<div class="col-md-12">
		<p class="text-justify">
			<ul class="text-light">
				<li><p class="font-weight-bold text-light" style="font-size: 1.5em">¿Cual es la distancia al Centro?</p>
				<p class="text-light" style="font-size: 1.2em">La distancia desde el centro es de siete cuadras.</p></li>
				<li><p class="font-weight-bold text-light" style="font-size: 1.5em">¿Cual es la distancia al río? </p>
				<p class="text-light" style="font-size: 1.2em"> La distancia al río desde las cabañas es de tres cuadras.</p></li>
				<li><p class="font-weight-bold text-light" style="font-size: 1.5em">¿Es facil y rapido el acceso?</p> 
				<p class="text-light" style="font-size: 1.2em">De muy facil acceso desde la ruta, una cuadra de tierra.</li></p>
			</ul>
		</p>
		<br>
		<p class="text-justify">
			<h4 class="text-light font-weight-bold ml-4" style="font-size: 1.5em">IMPORTANTE</h4>
		</p>
		<p class="text-justify">
			<ul class="text-light">
				<li><p class="text-light" style="font-size: 1.2em">El horario de chek-in es a partir de las 14:00 hs, check-out a las 10 hs.</p></li>
				<li><p class="text-light" style="font-size: 1.2em">No se aceptan mascotas.</p></li>
				<li><p class="text-light" style="font-size: 1.2em">Ropa Blanca opcional.</p></li>
				<li><p class="text-light" style="font-size: 1.2em">¿Como reservar estad&iacute;a? Mediante deposito.</p></li>
				<li><p class="text-light" style="font-size: 1.2em">Se aceptan todas las tarjetas mediante la herramienta de mercado pago.</p></li>
				<li><p class="text-light" style="font-size: 1.2em">Menores de tres años no abonan estad&iacute;a.</p></li>
			</ul>
		</p>
	</div>
</div>
{% endblock %}

<!-- style="background: url('images/laja.jpg');" --> 