{% extends "layout.html" %}

{% block content %}
    <div class="row pt-3">
        <div class="col-12 col-sm-12">
            <div class="border-bottom">
                <div class="pb-2 mt-4 mb-2 pt-4">
                    <h3>Preguntas frecuentes</h3>
                </div>
            </div>
        </div>
    </div>

<div class="row pt-5">
	<div class="col-md-12">
		<p class="text-justify">
			<ul>
				<li><p class="font-weight-bold" style="font-size: 2em">¿Cual es la distancia al Centro?</p> 
				<p style="font-size: 1.5em">La distancia desde el centro es de 7 cuadras.</p></li>
				<li><p class="font-weight-bold" style="font-size: 2em">¿Cual es la distancia al río? </p>
				<p style="font-size: 1.5em"> La distancia al río desde las cabañas es de 3 cuadras.</p></li>
				<li><p class="font-weight-bold" style="font-size: 2em">¿Es facil y rapido el acceso?</p> 
				<p style="font-size: 1.5em">De muy facil acceso desde la ruta, 1 cuadra de tierra.</li></p>
			</ul>
		</p>
	</div>
</div>
{% endblock %}