<!-- Footer -->
<footer class="fixed-bottom" style="background-color: #9b8172;">
	<div class="container pt-1">
		<div class="row justify-content-md-center">
			<div class="col">
				<img src="images/logo-footer.png" class="rounded float-left" alt="logo">
				<p class="m-0 text-center">
					<i class="fas fa-map-marker" aria-hidden="true"></i> Camino Provincial, Santa Rosa de Calamuchita, Cordoba -
					<i class="fas fa-mobile" aria-hidden="true"></i>  +54 358-⁠⁠⁠155074316
					- Seguinos en:
					<span class="fa-stack">
						<i class="fas fa-square fa-stack-2x"></i>
						<a href="https://m.facebook.com/profile.php?id=100015053173361&ref=content_filter"><i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i></a>&nbsp;&nbsp;
					</span>
					<span class="fa-stack">
						<i class="fas fa-square fa-stack-2x"></i>
						<a href="#"><i class="fab fa-instagram fa-stack-1x fa-inverse"></i></a>&nbsp;&nbsp;
					</span>
				</p>

<!-- 				<p class="pt-1 text-center"> Seguinos en:
					<span class="fa-stack">
						<i class="fas fa-square fa-stack-2x"></i>
						<a href="#"><i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i></a>&nbsp;&nbsp;
					</span>
					<span class="fa-stack">
						<i class="fas fa-square fa-stack-2x"></i>
						<a href="#"><i class="fab fa-instagram fa-stack-1x fa-inverse"></i></a>&nbsp;&nbsp;
					</span>
				</p>
 -->
				<p class="m-0 text-center font-italic text-secondary mx-auto" style="font-size: small;">Copyright © 2018 Design: Cristian J. Tosco</p>
			</div>
		</div>
<!--  		<div class="row">
			<p class="m-0 pt-4 text-center font-italic text-secondary mx-auto" style="font-size: small;">Copyright © 2018 Design: Cristian J. Tosco</p>
		</div>
 -->	</div>
</footer>
