<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #9b8172;">
    <a class="navbar-brand text-white active" style="font-family: 'Montserrat', sans-serif; font-size: 1.85rem" href="index.html">Cabañas Siete Colores</a>
    <!--
    <a class="navbar-brand hvr-grow" href="#">
      <img src="images/logo.png" width="90" height="90" alt="">
    </a>
    -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
<!--         <li class="nav-item">
          <a class="nav-link hvr-shrink text-white" href="#">Fechas</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link hvr-shrink text-white" href="cabins.html">Predio</a>
        </li>
<!--         <li class="nav-item">
          <a class="nav-link hvr-shrink text-white" href="#">Fotos</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link hvr-shrink text-white" href="contact.html">Promo/Tarifas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hvr-shrink text-white" href="questions.html">Preguntas Frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hvr-shrink text-white" href="location.html">Ubicaci&oacute;n</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hvr-shrink text-white" href="contact.html">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>